<%- include('partials/header') %>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="container">
      <div class="inner cover">
        <h1 class="cover-heading">Secrets</h1>
        <p class="lead">Don't keep your secrets, share them anonymously!</p>
        <p class="lead">
          <a class="btn btn-lg btn-default" href="/register" role="button">Register</a>
          <a class="btn btn-lg btn-default" href="/login" role="button">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
