<%- include('partials/header') %>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="container">
          <div class="inner cover">
            <section id="login">

              <div class="maincontent">
      
                  <!-- <div class="brand">
                      <h1>Logo Name</h1>
                  </div> -->
      
                  <div class="login">
                      <p>Login</p>
      
                      <form action="/login" method="POST">
                        <div class="form-group">
                        <!-- <label for="email">Email</label> -->
                        <input type="email" class="form-control" name="username" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <!-- <label for="password">Password</label> -->
                        <input type="password" class="form-control" name="password" placeholder="Password">
                      </div>
                          <button type="submit" class="btn btn-lg btn-default" >Login</button>
                      </form>
                  </div>
      
                  <div class="separator">Or</div>
      
                  <div class="socialnetwork">
                      <h4>Use Social Networks</h4>
                      <a href="/auth/google"><button class="loginBtn loginBtn--google" >
                        Login with Google
                    </button></a>
                  </div>
      
              </div>
      
          </section>
        </div>
      </div>
    </div>


<%- include('partials/footer') %>
